{% extends "layout.jinja2" %}

{% block main %}
  <div class="not_found">
  <h1>404 Page not found</h1>
  <p>These are not the entries you are looking for.</p>
  <img src="/static/force.gif">
  </div>

{% endblock main %}