{% extends "layout.jinja2" %}

{% block main %}
  <h1 class="not_found">404 Page not found</h1>
  <p class="not_found">These are not the entries you are looking for.</p>
  <img class="not_found" src="/static/force.gif">

{% endblock main %}