{% extends "layout.jinja2" %}
{% block main %}
<main>
  <h1>Recent Entries</h1>
  {% if request.authenticated_userid %}
  <a href="{{ request.route_url('create')}}" class="add_entry">Write new post</a>
  <a href="{{ request.route_url('logout')}}" class="add_entry">Logout</a>
  {% else %}
  <a href="{{ request.route_url('login')}}" class="add_entry">Log In</a>
  {% endif %}


  <section>
    <ul>
      {% for post in posts %}
      <li>
        <a href="{{ request.route_url('detail', id=post.id) }}"><h3>{{ post.title }} </h3></a>
        <p>Published on: {{ post.creation_date }}</p></a>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
{% endblock %}