{% extends "layout.jinja2" %}
{% block main %}
<main>
    <form method="POST">
    <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token() }}">
      <label>
        <input name="title" class="input_post_title" type="text" placeholder="Article title" required>
      </label>
      <textarea name="body" class="text_area" rows="8" cols="40" placeholder="Enter article here" required></textarea>
      <button type="submit">Create New</button>
    </form>
</main>
{% endblock %}