{% extends "layout.jinja2" %}
{% block main %}
<main>
  <h1 class="post_title">{{post.title}}</h1>
  <section>
    <p class="post_body">{{ post.body }}</p>
    <p class="creation_date">Published on: {{ post.creation_date }}</p>
    <a href="{{ request.route_url('update', id=post.id) }}"><p class="edit_post">Edit Post</p></a>
  </section>
</main>
{% endblock %}